[build]
builder = "DOCKERFILE"
dockerfilePath = "apps/aviation-missions-app/Dockerfile"

[deploy]
startCommand = ""
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
PORT = "3000"
